:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-background-color: #FFFFFF;
    --active-link-color: rgba(33, 150, 243, 1);
    --title-text-color:rgba(33, 33, 33, 1);
}

.page {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

/* убираем маркеры в списках*/
.all-lists {
    list-style: none;
}

/* убираем подчеркивание в ссылках */
.all-links {
    text-decoration: none;
}

/* ссылка на логотип без подчеркивания*/
.logo-link {
    text-decoration: none;
}

/* разбиваю текст логотипа на две части по цвету шрифта*/
.logoheader-start,
.logofooter-start {
    color: rgba(33, 150, 243, 1);
}

.logoheader-end {
    color: rgba(0, 0, 0, 1);
}

.logofooter-end {
    color:rgba(255, 255, 255, 1)
}

/*стилизация навигации сайта*/
.navigation-link {
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}

.navigation-link.current {
    color:var(--active-link-color);
}

/*стилизация e-mail и телефона*/
.contacts-link {
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
}

/*стилизация ссылок навигации и контактов - при наведении курсора и активации*/
.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color:var(--active-link-color)
}

/*стилизация основной секции*/
.hero {
    background-color:rgba(47, 48, 58, 1);
    color: rgba(255, 255, 255, 1);
}

/*стилизация секций "Наши преимущества", "Чем мы занимаемся"- index; "Наши проекты" - portfolio*/
.allpurpose-title {
    color:var(--title-text-color);
}

/*стилизация секции "Наша команда"*/
.teamsection{
    background-color: rgba(245, 244, 250, 1);
}

.personal-card {
    background-color:var(--primary-background-color);
}

/*стилизация Footer*/
.pagefoot {
    background-color: rgba(47, 48, 58, 1);
}
.pagefoot .address {
    color:rgba(255, 255, 255, 1)
}
.pagefoot .mailtel {
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* Кнопка index */
.hero-button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}

/* Кнопки фільтрації portfolio */
.filter-button {
    color: rgba(33, 33, 33, 1);
    background-color: #F5F4FA;
}
.filter-button:hover,
.filter-button:focus {
    color:#FFFFFF;
    background-color: #2196F3; 
}